# 00 - Creating Series and DataFrames
## Introduction
In this exercise, we will learn how to create Series and DataFrames in Pandas.

## Step 1: Import the necessary libraries

In [ ]:
import pandas as pd

## Step 2: Create a data dictionary

In [ ]:
# Creating a dictionary with some sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

## Step 3: Assign it to a variable called df

In [ ]:
# Creating a DataFrame
df = pd.DataFrame(data)
df

## Step 4: Create a Pandas Series

In [ ]:
# Creating a Pandas Series
series_data = pd.Series([10, 20, 30, 40, 50], name='Numbers')
series_data

## Step 5: Display information about the DataFrame

In [ ]:
# Displaying basic info about df
df.info()

## Step 6: Show the first few rows

In [ ]:
# Displaying the first 3 rows
df.head(3)

## BONUS: Create your own DataFrame and print it

In [ ]:
# Creating a custom DataFrame
df_bonus = pd.DataFrame({
    'Product': ['Laptop', 'Tablet', 'Smartphone'],
    'Price': [1000, 500, 800],
    'Stock': [50, 80, 100]
})
df_bonus