In [2]:
import pandas as pd

In [1]:
# Step 1: Import the necessary libraries

In [3]:
# Step 2: Import the dataset

In [4]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv"

In [5]:
baby_names = pd.read_csv(url)

In [6]:
# Step 3: Assign it to a variable called baby_names

In [7]:
# Step 4: See the first 10 entries

In [8]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [9]:
# Step 5: Delete the column 'Unnamed: 0' and 'Id'

In [10]:
baby_names.drop(columns=['Unnamed: 0', 'Id'], inplace=True)

In [11]:
# Step 6: Is there more male or female names in the dataset?

In [12]:
gender_counts = baby_names['Gender'].value_counts()

In [13]:
gender_counts

Gender
F    558846
M    457549
Name: count, dtype: int64

In [14]:
# Step 7: Group the dataset by name and assign to names

In [15]:
names = baby_names.groupby('Name').sum()

In [16]:
names

,Year,Gender,State,Count
Name,,,,
Aaban,4027,MM,NYNY,12
Aadan,8039,MMMM,CACACATX,23
Aadarsh,2009,M,IL,5
Aaden,393963,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,ALALALALALALALARARARAZAZAZAZAZAZCACACACACACACA...,3426
Aadhav,2014,M,CA,6
...,...,...,...,...
Zyra,14085,FFFFFFF,CACACAFLTXTXTX,42
Zyrah,4024,FF,CATX,11
Zyren,2013,M,TX,6
Zyria,20089,FFFFFFFFFF,GAGAGALALALATXTXTXTX,59
Zyriah,18087,FFFFFFFFF,GAGALATXTXTXTXTXTX,58

In [17]:
# Step 8: How many different names exist in the dataset?

In [18]:
different_names_count = baby_names['Name'].nunique()

In [19]:
different_names_count

17632

In [20]:
# Step 9: What is the name with most occurrences?

In [21]:
most_common_name = names['Count'].idxmax()

In [22]:
most_common_name

'Jacob'

In [23]:
# Step 10: How many different names have the least occurrences?

In [24]:
least_common_names = (names['Count'] == names['Count'].min()).sum()

In [25]:
least_common_names

np.int64(2578)

In [26]:
# Step 11: What is the median name occurrence?

In [27]:
median_name_occurrence = names['Count'].median()

In [28]:
median_name_occurrence

49.0

In [29]:
# Step 12: What is the standard deviation of names?

In [30]:
std_dev_names = names['Count'].std()

In [31]:
std_dev_names

11006.069467891111

In [32]:
# Step 13: Get a summary with the mean, min, max, std and quartiles.

In [33]:
summary = names['Count'].describe()

In [34]:
summary

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64