In [1]:
import pandas as pd

In [2]:
# Step 1: Import the necessary libraries

In [3]:
# Step 2: Import the dataset

In [4]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv"

In [5]:
chipo = pd.read_csv(url, sep='\t')

In [6]:
# Step 3: Assign it to a variable called chipo

In [7]:
# Step 4: See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [9]:
# Step 5: Number of observations

In [10]:
num_observations = chipo.shape[0]

In [11]:
num_observations

4622

In [12]:
# Step 6: Number of columns

In [13]:
num_columns = chipo.shape[1]

In [14]:
num_columns

5

In [15]:
# Step 7: Print the name of all the columns

In [16]:
column_names = chipo.columns

In [17]:
column_names

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [18]:
# Step 8: How is the dataset indexed?

In [19]:
dataset_index = chipo.index

In [20]:
dataset_index

RangeIndex(start=0, stop=4622, step=1)

In [21]:
# Step 9: Most-ordered item

In [22]:
most_ordered_item = chipo.groupby('item_name').sum()['quantity'].idxmax()

In [23]:
most_ordered_item

'Chicken Bowl'

In [24]:
# Step 10: Quantity of most-ordered item

In [25]:
quantity_most_ordered = chipo.groupby('item_name').sum()['quantity'].max()

In [26]:
quantity_most_ordered

761

In [27]:
# Step 11: Most ordered item in choice_description column

In [28]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()

In [29]:
most_ordered_choice

'[Diet Coke]'

In [30]:
# Step 12: Total items ordered

In [31]:
total_items_ordered = chipo['quantity'].sum()

In [32]:
total_items_ordered

np.int64(4972)

In [33]:
# Step 13: Convert item price to float

In [34]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [35]:
# Step 14: Revenue for the period

In [36]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

In [37]:
revenue

np.float64(39237.02)

In [38]:
# Step 15: Number of orders

In [39]:
num_orders = chipo['order_id'].nunique()

In [40]:
num_orders

1834

In [41]:
# Step 16: Average revenue per order

In [42]:
average_revenue_per_order = revenue / num_orders

In [43]:
average_revenue_per_order

np.float64(21.39423118865867)

In [44]:
# Step 17: Number of different items sold

In [45]:
num_different_items = chipo['item_name'].nunique()

In [46]:
num_different_items

50